$base-color: #580a58;
$background-color: linear-gradient(to bottom, #ff9a9e, #fad0c4 50%, #fbc2eb 75%, #a18cd1);


///Estilos generales ///
body {

    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: $base-color;
    background-color: #f8def1;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 3fr 1fr 1fr 1fr 0.5fr;
    grid-template-columns: 1fr;

}

/// Media Queries para responsividad ////
/// Estilos para celular ///
@media (max-width: 767px) {
    .slider-frame {
        width: 100%;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .pilares {
        flex-direction: column;
        align-items: center;
        width: 700px;
    }

    .cuadro-inferior {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 15px 200px 25px 200px; //top,right,bottom,left//
    }

    .pilar {
        width: 100%;
        margin-bottom: 20px;
    }

    body {
        grid-auto-flow: row;
        align-items: start;
        gap: 10px;
    }

    .inputmail {
        display: flex;
        flex-direction: column;

        &__texto {
            display: flex;
            flex-flow: wrap;
            flex-direction: column;
            flex-wrap: wrap;
            flex-wrap: nowrap;
        }

    }

}

///Tablet: Ancho mínimo de 768px y máximo de 1024px///
@media (min-width: 768px) and (max-width: 1024px) {
    .slider-frame {
        width: 80%;
    }
}